body {
  font-family: 'Open Sans', sans-serif, Arial, Helvetica;
  font-style: normal;
}
a {
  text-decoration: none;
}
.progress-container.card {
  margin-top: 20px;
}
.progress-container.card .card-header {
  font-size: 1.8rem;
}
.progress-container.card .card-footer {
  padding-bottom: 0;
}
.progress-container.card .card-footer select,
.progress-container.card .card-footer button {
  margin-bottom: 0.75rem;
}
.progress-container.card .btn-group .btn-info {
  margin-right: 1px;
  border-right-color: #ccc;
}
.progress-container.card .btn-group .btn-info:last-child {
  margin-right: 0;
}
.bars>div {
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  text-align: center;
  margin-bottom: 10px;
}
.bars>div>div {
  background-color: #93dff2;
  height: 40px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  transition: width 1s;
  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
}
.bars>div>b {
  position: absolute;
  top: 0;
  font-size: 1.5rem;
  margin-left: -10px;
  color: #0e6378;
  /*&:after{ content: "%"; font-size: 75%; color: #999; font-weight: 400; color: inherit; }*/
}
.bars>div>b i {
  color: inherit;
  font-size: 70%;
}
.bars>div.selected {
  border-color: #38c4e7;
}
.bars>div.overLimit>div {
  background-color: #ff2e13;
}
.bars>div.overLimit>b {
  color: #fff;
}
.bars>div:last-child {
  margin-bottom: 0;
}
