@white: #fff;
@defaultProgressColor: #93dff2;
@overLimitProgressColor: #ff2e13;
@selectedProgressBar: darken(@defaultProgressColor,20%);
@textColorProgress: darken(@defaultProgressColor,50%);

.border-radius (@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius:    @radius;
    border-radius:         @radius;

    -moz-background-clip:    padding;
    -webkit-background-clip: padding-box;
    background-clip:         padding-box;
}
