@import 'mixins.less';

body{ 
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-style: normal;
}

a{  text-decoration:none; }

.progress-container.card{ margin-top: 20px;
    .card-header{ font-size: 1.8rem; }
    .card-footer{ padding-bottom: 0; 
        select, button{ margin-bottom: 0.75rem; }
    }
    .btn-group .btn-info { margin-right: 1px; border-right-color: #ccc;
        &:last-child{ margin-right: 0; }
    }
}

.bars{ 
       &>div{ position: relative; overflow: hidden; .border-radius(5px); border: 1px solid #ccc; text-align: center; margin-bottom: 10px;
              &>div{ background-color: @defaultProgressColor; height: 40px; .border-radius(5px); transition: width 1s; -webkit-transition: width 1s; -moz-transition: width 1s; -o-transition: width 1s; }
              &>b{ position: absolute; top: 0; font-size: 1.5rem; margin-left: -10px; color: @textColorProgress; 
                   i{ color: inherit; font-size: 70%; }
                   /*&:after{ content: "%"; font-size: 75%; color: #999; font-weight: 400; color: inherit; }*/
              }
              &.selected{ border-color: @selectedProgressBar; }
              &.overLimit{
                  &>div{ background-color: @overLimitProgressColor; }
                  &>b{ color: @white; }
              }
              &:last-child{ margin-bottom: 0; }
       }
}