<!DOCTYPE html>
<html ng-app="APP">
    <head>
        <title>Singtel - Progress Bars</title>

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i" rel="stylesheet">
        <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
        <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->
        <link rel="stylesheet" href="css/progress-bars.min.css" />

        <script type="text/javascript" src="plugins/angular.min.js"></script>
        <script type="text/javascript" src="js/app.min.js"></script>

    </head>

    <body ng-controller="mainController" ng-init="init()">

        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">

                    <!-- start :: card-layout -->
                    <div class="card progress-container">
                        <!-- progress bar title -->
                        <div class="card-header">
                            <b>Progress</b> Bars
                        </div>
                        <!-- progress bar's body, propagate here dynamically -->
                        <div class="card-body">
                            <div class="bars">
                                <div ng-repeat="item in progressBars" ng-class="{selected:selectedBarId == item.id, overLimit: item.percentageValue > 100 }">
                                    <div ng-style="{ width: item.percentageValue + '%' }">
                                        <!--  &nbsp; -->
                                    </div>
                                    <b>{{ item.percentageValue}}<i class="fa fa-percent"></i></b>
                                </div>
                            </div>
                        </div>
                        <!-- progress bar's footer/toolbar -->
                        <div class="card-footer">
                            <div class="btn-toolbar" role="toolbar" aria-label="Progress Bar Toolbar">
                                <select name="ddBarId" ng-model="selectedBarId" class="form-control-inline mr-2">
                                    <option ng-repeat="item in progressBars" ng-value="{{ item.index}}">{{ item.id}}</option>
                                </select>
                                <div class="btn-group mr-2" role="group" aria-label="Control Buttons">
                                    <!-- control buttons -->
                                    <button type="button" name="commonBtn" class="btn btn-info" ng-repeat="item in ctrlButtons" ng-click="updateProgressBar(item.value)">
                                        <i class="fa fa-{{ item.iconText}}"></i>
                                        {{ item.display}}
                                    </button>
                                </div>
                                <button type="button" name="resetBtn" ng-click="resetProgressBar()" class="btn btn-secondary">
                                    <i class="fa fa-undo"></i>
                                    Reset All
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- end :: card-layout -->

                </div>
            </div>
        </div>

    </body>
</html>