<!DOCTYPE html>
<html ng-app="APP">
    <head>
        <title>Singtel - Progress Bars</title>

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i" rel="stylesheet">
        <link rel="stylesheet" href="css/progress-bars.min.css" />

        <script type="text/javascript" src="plugins/angular.min.js"></script>
        <script type="text/javascript" src="js/app.min.js"></script>
        <script type="text/javascript" src="js/test.js"></script>

    </head>

    <body ng-controller="test" ng-init="init()">
        <p ng-repeat="msg in messages">{{ msg }}</p>
    </body>
</html>